/.vagrant
/sandbox-custom.yml

# Logs
/log/php/*
!/log/php/readme.md

/log/mysql/*
!/log/mysql/readme.md

/certificates
/provision/*
/database/*

# There is no need to share individual sites with one another.
/sites/*
!/sites/readme.md
