.global
/.vagrant
/config/sandbox-custom.yml

# Logs
/log/nginx/*
!/log/nginx/readme.md

/log/php/*
!/log/php/readme.md

/log/mysql/*
!/log/mysql/readme.md

/certificates
/provision/*
!/provision/scripts/*

# database
/database/*
!/database/readme.md

# There is no need to share individual sites with one another.
/sites/*
!/sites/readme.md
