.global
.vagrant
config/default.yml

# Logs
logs/*

certificates
provision/*
!provision/scripts/*

# database
database/*
!database/readme.md

# There is no need to share individual sites with one another.
sites/*
!sites/readme.md
